@import url('https://fonts.googleapis.com/css?family=Cabin:400,700');:root {

	--color-black: #000;
	--color-white: #fff;

	--color-gray: #858585; 
	--color-gray-10: #e4e1dc;
	--color-gray-20:#efefef;
	--color-gray-30: #dbd6cd;

	--color-blue: #006595;
	--color-blue-10: #25aae1;

	--color-green:  #4b9c3d;
	--color-green-10:  #5ab44b;

	--color-text: var(--color-blue-20);

	--color-text: var(--color-blue-20);

	--font-family-primary: 'Cabin', sans-serif;

	--base-font-size: 1em;

	--width-page: 59.313em;
	--spacing-horizontal: 1rem;
	--spacing-vertical: 1.5rem;
	--gutter-width: 1rem;

	--border-radius: 0.15rem;

	--anim-duration: 0.5s;
	--anim-easing: ease-in-out;

}@define-mixin clearfix {
	&:after {
		content: "";
		display: table;
	  	clear: both;
	}
}@define-mixin list-bare {
	list-style: none;
	margin: 0;
	padding: 0;
}@define-mixin list-horizontal {
	@mixin clearfix;
	> * {
		float: left;
		line-height: 1;
	}
}@define-mixin list-inline {
	@mixin clearfix;
	> * {
		display: inline;
		line-height: 1;
	}
}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}html {
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
	-webkit-overflow-scrolling: touch;
}*, *:before, *:after {
	box-sizing: inherit;
}body {
	font-size: 1em;
	font-size: var(--base-font-size);
	line-height: 1.2;
	word-wrap: break-word;
}h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin:  0;
	padding: 0;
	line-height: 1.2;
}a {
	text-decoration: none;
}strong {
	font-weight: bold;
}em {
	font-style: italic;
}dl,
dd {
	margin: 0;
}table {
	border-collapse: collapse;
	border-spacing: 0;
}address {
	font-style: normal;
}fieldset {
	padding: 0;
	margin: 0;
	border: 0;
}img {
	display: block;
	max-width: 100%;
	height: auto;
	border: 0;
}body:before {
	content: "small";
	display: none;
}@media (min-width: 48em) {

	body:before {
		content: "medium";
	}

}@media (min-width: 64em) {

	body:before {
		content: "large";
	}

}.list--reset li {
        list-style: none;
    }.button {
    font-family: 'Cabin', sans-serif;
    font-family: var(--font-family-primary);
	display: inline-block;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	padding: 0.35em 0.65em;
	font-size: 0.75rem;
	border: 1px solid;
	transition: background-color 0.5s;
	transition: background-color var(--anim-duration);
}.button:enabled:hover {
			cursor: pointer;
		}.button:disabled {
		background: #e4e1dc;
		background: var(--color-gray-10);
	}.button:disabled:hover {
			background: #e4e1dc;
			background: var(--color-gray-10);
			cursor: not-allowed;
		}.button--primary {
	max-width: 11.4em;
	width: 100%;
	color: #fff;
	color: var(--color-white);
	border-width: 0;
	padding: .757em 1em;
	font-size: 1.1rem;
	font-weight: 700;
	border-radius: 4px;
	background-color: #5ab44b;
	background-color: var(--color-green-10);
}.button--primary:hover {
		background-color: #4b9c3d;
		background-color: var(--color-green);
	}.button--primary:active {
		background-color: #5ab44b;
		background-color: var(--color-green-10);
	}.cols {
    display: flex;
    flex-direction: column;
    width: 100%;
}@media (min-width: 48em) {
    .cols {
        flex-direction: row;
    }
        .cols--1 > .col {
            width: 100%;
        }
        .cols--2 > .col, .cols--3 > .col, .cols--4 > .col,  > .col {
            width: 50%;
        }
}@media (min-width: 64em) {
        .cols--3 > .col {
            width: 33.33%;
        }
            .cols--3 > .col.col--3-2 {
                width: 66.66%;
            }
        .cols--4 > .col {
            width: 25%;
        }
            .cols--4 > .col.col--4-2 {
                width: 50%;
            }
            .cols--4 > .col.col--4-3 {
                width: 75%;
            }
}h1 {
    font-size: 2.25em;
}.page-title-wrapper {
    background: var(--color-blue-20);
    background: var(--color-blue-20);
    padding: 2em;
    margin: 0 0 2em;
    text-transform: uppercase;
    color: #fff;
    color: var(--color-white);
}.modal-title {
    font-size: 3em;
    color: #006595;
    color: var(--color-blue);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: .5em;
}.sub-title {
    display: block;
    font-size: 1.125em;
    text-align: center;
    margin: 0 0 3.5em;
}.icon {
    display: block;
    width: 35px;
    height: 35px;
}.icon--instagram {
    background: url('../images/svg/icon-in.svg') center / contain no-repeat;
}.icon--facebook {
    background: url('../images/svg/icon-fb.svg') center / contain no-repeat;
}.icon--twitter {
    background: url('../images/svg/icon-tw.svg') center / contain no-repeat;
}.icon--youtube {
    background: url('../images/svg/icon-yt.svg') center / contain no-repeat;
}.align-left, .align-right, .align-center {
	margin: 0 auto 1.5em auto;
}@media only screen and (min-width: 40em)  {
	.align-left {
		float: left;
		margin: 0 1.5em 1.5em 0;
	}

	.align-right {
		float: right;
		margin: 0 0 1.5em 1.5em;
	}
}input[type="text"],
input[type="password"],
input[type="search"],
input[type="url"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="date"],
select,
textarea {
    font-family: 'Cabin', sans-serif;
    font-family: var(--font-family-primary);
    border: 1px solid var(--color-gray-5);
    border: 1px solid var(--color-gray-5);
    border-radius: 4px;
    padding: 1em;
}input[type="search"] {
    border: 1px solid #e4e1dc;
    border: 1px solid var(--color-gray-10);
}.radiobox input[type="radio"] {
    opacity: 0;
}.radiobox label {
    position: relative;
    display: inline-block;
    padding-left: 2em;
    font-size: 1em;
}.radiobox label::before,
.radiobox label::after {
    position: absolute;
    content: "";
    display: inline-block;
}.radiobox label::before{
    background: #fff;
    background: var(--color-white);
    border: 1px solid #858585;
    border: 1px solid var(--color-gray);
    height: 21px;
    width: 21px;
    border-radius:50%;
    left: 0;
    top: -3px;


}.radiobox label::after {
    height: 15px;
    width: 15px;
    background: var(--color-brown);
    background: var(--color-brown);
    border-radius:50%;
    left: 3px;
    top: 0;
}.radiobox input[type="radio"] + label::after {
    content: none;
}.radiobox input[type="radio"]:checked + label::after {
    content: "";
}.radiobox input[type="radio"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}/*
.checkbox input[type="checkbox"] {
    opacity: 0;
}

.checkbox label {
    font-family: var(--font-family-avenir-light);
    position: relative;
    display: inline-block;
    padding-left: 1.5em;
    font-size: 1em;
}

.checkbox label::before,
.checkbox label::after {
    position: absolute;
    content: "";
    display: inline-block;
}

.checkbox label::before{
    height: 35px;
    width: 35px;
    background: var(--color-brown);
    left: 0px;
    top: 3px;
}

.checkbox label::after {
    height: 10px;
    width: 22px;
    border-left: 3px solid var(--color-white);
    border-bottom: 3px solid var(--color-white);
    transform: rotate(-45deg);
    left: 8px;
    top: 12px;
}


.checkbox input[type="checkbox"] + label::after {
    content: none;
}


.checkbox input[type="checkbox"]:checked + label::after {
    content: "";
}


.checkbox input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}
*/legend {
    margin-bottom: 1rem;
}.label {
    color: #25aae1;
    color: var(--color-blue-10);
}.legend-label,
.field-group__label {
 font-size: 1.25rem;
 font-weight: 700;
 color: #006595;
 color: var(--color-blue);
}a {
	color: #25aae1;
	color: var(--color-blue-10);
	text-decoration: none;
}a:hover {
		color: #25aae1;
		color: var(--color-blue-10);
		text-decoration: underline;
	}a:active {
		color: #006595;
		color: var(--color-blue);
	}a:visited {
		color: #25aae1;
		color: var(--color-blue-10);
	}.spacer {
    margin: 0 0.5rem;
}.logo {
    display: block;
    width: 9em;
}table {

}caption {

}thead {
    background-color: var(--color-blue-40);
    background-color: var(--color-blue-40);
}th,
tbody td {
    border: solid var(--color-blue-30);
    border: solid var(--color-blue-30);
    border-width: 1px 0;
}th {
    padding: 0.75rem;
    font-size: 0.75rem;
    font-weight: bold;
    text-align: left;
    color: #25aae1;
    color: var(--color-blue-10);
}tbody td {
        padding: 0.75rem 0.25rem;
        font-size: 0.85rem;
    }.table {
    width: 100%;
}.table-sort {
    color: #25aae1;
    color: var(--color-blue-10);
}.table-sort:after {
        content: url('../images/ico-sort-both.svg');
        display: inline-block;
        margin-left: 0.5rem;
        vertical-align: middle;
    }.table-sort.table-sort--asc:after {
            content: url('../images/ico-sort-up.svg');
        }.table-sort.table-sort--dec:after {
            content: url('../images/ico-sort-down.svg');
        }.row--selecteable {
    cursor: pointer;
}.row--selected {
    background-color: var(--color-yellow-10);
    background-color: var(--color-yellow-10);
    cursor: default;
}.row--selected td {
        border-width: 2px 0;
    }.row--selected td:first-child {
            border-left-width: 2px;
        }.row--selected td:last-child {
            border-right-width: 2px;
        }.cell--uppercase {
    text-transform: uppercase;
}@media (max-width: 48em) {
    .table-scroller {
        overflow-x: auto;
        max-width: 100%;
    }
}body {
	color: var(--color-blue-20);
	color: var(--color-text);
	font-family: 'Cabin', sans-serif;
	font-family: var(--font-family-primary);
	font-size: 1em;
	font-size: var(--base-font-size);
	font-weight: 400;
}p {
	margin: 0 0 1.5rem 0;
	margin: 0 0 var(--spacing-vertical) 0;
}.video__wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 ratio */
	padding-top: 1.5625rem;
	height: 0;

}.video__wrapper .video,
	.video__wrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}.is-vishidden {
	position: absolute; 
  	overflow: hidden; 
  	clip: rect(0 0 0 0); 
  	height: 1px; 
  	width: 1px; 
  	margin: -1px; 
  	padding: 0; 
  	border: 0; 
}.filter-section__distance {
    border-bottom: 2px solid #efefef;
    border-bottom: 2px solid var(--color-gray-20);
}.distance-status {
    font-size: .75rem;
    font-weight: 700;
    color: #000;
    color: var(--color-black);
    margin: 1rem 0;
    text-transform: uppercase;
}.filter-section {
    padding: 0 0 2rem;
    margin-bottom: 2rem;
}.field {

}.field__error-message {

}.field-list {
    list-style: none;
}.field-list__item {
    margin: 0 0 .3rem;
}input[type=range] {
    height: 2.375rem;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    margin: .438rem 0;
    width: 100%;
  }input[type=range]:focus {
    outline: none;
  }input[type=range]::-webkit-slider-runnable-track {
    width: .625rem;
    height: .313rem;
    cursor: pointer;
    background: #e4e1dc;
    background: var(--color-gray-10);
  }input[type=range]::-webkit-slider-thumb {
    height: 1.375rem;
    width: .438rem;
    background: #25aae1;
    background: var(--color-blue-10);
    cursor: pointer;
    -webkit-appearance: none;
            appearance: none;
    margin-top: -.5rem;
  }input[type=range]:focus::-webkit-slider-runnable-track {
    background: #e4e1dc;
    background: var(--color-gray-10);
  }input[type=range]::-moz-range-track {
    width: 100%;
    height: .313rem;
    cursor: pointer;
    background: #e4e1dc;
    background: var(--color-gray-10);
  }input[type=range]::-moz-range-thumb {
    height: 1.375rem;
    width: .438rem;
    background: #25aae1;
    background: var(--color-blue-10);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -.5rem;
  }.range-label {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0 -4%;
  }.range-label__item {
    width: 1.25rem;
    color: #858585;
    color: var(--color-gray);
    text-align: center;
    font-size: .75rem;
    font-weight: 700;
  }.main-content {
    margin-top: 1em;
}.site-footer {
    margin-bottom: 3em;
}.site-footer__container {
    background: #000;
    background: var(--color-black);
    padding: 3em 0;
}.social-title {
    font-size: 1em;
    text-transform: uppercase;
    color: #fff;
    color: var(--color-white);
    text-align: center;
    margin: 0 0 1em;
}.social-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 10em;
    margin: 0 auto;
}.site-header {
	background: url('../images/gradient.png');
    background-position: left top;
	background-repeat: no-repeat;
	background-size: 100%; 
	border-bottom: 1px solid #858585; 
	border-bottom: 1px solid var(--color-gray);
	box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.10);
}.site-header__container {
	text-align: center;
	padding: .7em 0 0;
}.logo-link {
	display: inline-block;
}.hero {
    margin-bottom: .8em;
}.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}.lds-roller div {
  -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-transform-origin: 32px 32px;
          transform-origin: 32px 32px;
}.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  margin: -3px 0 0 -3px;
}.lds-roller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}.lds-roller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}.lds-roller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}.lds-roller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}.lds-roller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}.lds-roller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}.lds-roller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}.lds-roller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}@-webkit-keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}@keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}.doctors-total-result {
    font-size: 1.375rem;
    color: #858585;
    color: var(--color-gray);
    margin-bottom: 3.125em;
}.doctor-image {
    width: 6.25em;
    margin-right: 1em;
}.doctor-general {
    font-size: 1.25rem;
    color: #000;
    color: var(--color-black);
}.doctor-list {
    list-style: none;
}.doctor-location {
    list-style: none;
}.doctor-name {
    font-size: 1.25rem;
    font-weight: 700;
    color: #25aae1;
    color: var(--color-blue-10);
}@media (min-width: 48em) {

    .doctor-info-container {
        display: flex;
        justify-content: space-between;
    }

    .doctor-info {
        display: flex;
    }

}.search {
    display: flex;
    flex-direction: column;
    background: #efefef;
    background: var(--color-gray-20);
    padding: 2em;
}.search__input { 
    margin-bottom: 1em;
}@media (min-width: 48em) {

    .search {
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
    }

    .search__input {
        flex: 1;
        margin-bottom: 0;
    }
    
    .search__button {
        flex: 1;
        text-align: right;
    }

}input[type="search"] {
    display: block;
    font-size: 1.1rem;
    max-width: 25em;
    width: 100%;
    padding: .7em .8em;
}.search-label {
    font-size: 1.1rem;
    display: block;
    color: #858585;
    color: var(--color-gray);
    margin: 0 0 .5em;
}/* Layout Styles */.container {
    padding: 1rem;
    background-color: #fff;
    background-color: var(--color-white);
    max-width: var(--page-width);
    max-width: var(--page-width);
    margin: 0 auto;
}.shim {
    margin: 0 auto;
    max-width: 59.313em;
    max-width: var(--width-page);
}.content--2col-left {
    display: flex;
    flex-direction: column;
}.sidebar-content {
    flex-grow: 1;
}.content {
    padding: 3rem 0;
}.general-content {
    flex-grow: 1;
}@media (min-width: 30em) {
    .content--2col-left {
        flex-direction: row;
    }

        .content--2col-left .general-content {
            padding-left: 5rem;
        }

    .sidebar-content {
        width: 12.5rem;
        flex-grow: 0;
    }
    
}