<div class="wrapper">
	{{> components-header }}
	<main id="{{ mainId }}" class="main-content">
		<div class="container shim">
			{{> components-hero }}
			{{> components-search }}
			<div class="content content--2col-left">
			<div class="sidebar-content">
				{{> components-distance }}
				{{> components-gender }}
			</div>
			<div class="general-content js-general-content">
				{{> components-doctors }}
			</div>
		</div>
	</main>
	{{> components-footer }}
</div>



