{{#search}}
    <div class="search-form">
        <form class="js-search-form">
            <fieldset class="js-search-fieldset">
                <div class="search">
                    <div class="search__input">
                        {{#searchFormEelements}}
                            {{> basics-label}}
                            {{> basics-input}}
                        {{/searchFormEelements}}
                    </div>
                    <div class="search__button">
                        {{#searchFormButton}}
                            {{> basics-input}}
                        {{/searchFormButton}}
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{{/search}}


						



