{{#search}}
    <div class="search-form">
        <form class="js-form-container">
            <div class="search">
                <div class="search__input">
                    {{#searchFormEelements}}
                        {{> basics-label}}
                        {{> basics-input}}
                    {{/searchFormEelements}}
                </div>
                <div class="search__button">
                    {{#searchFormButton}}
                        {{> basics-input}}
                    {{/searchFormButton}}
                </div>
            </div>
        </form>
    </div>
{{/search}}


						



