/* Layout Styles */

.page-width {
    padding: 1rem;
    background-color: var(--color-white);
    margin: 0 auto;
    max-width: var(--width-page);
}

.results-container {
    display: flex;
    flex-direction: column;
}

.sidebar-content {
    flex-grow: 1;
}

.content {
    padding: 3rem 0;
}

.general-content {
    flex-grow: 1;
}

@media (--small) {
    .results-container {
        flex-direction: row;

        .general-content {
            padding-left: 4rem;
        }
    }

    .sidebar-content {
        width: 11.5rem;
        flex-grow: 0;
    }
    
}