        <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
        <script type="module" src="../../js/main.js"></script>
	    <script nomodule src="../../js/main-nomodule.js"></script>

        <!-- Begin Pattern Lab JS -->
        {{{ patternLabFoot }}}
        <!-- End Pattern Lab JS -->

    </body>
</html>